[submodule "external/odecraft"]
	path = external/odecraft
	url = https://github.com/phyzan/odecraft
[submodule "external/tomlplusplus"]
	path = external/tomlplusplus
	url = https://github.com/marzer/tomlplusplus
